body{
    background-image: url(https://i.pinimg.com/564x/db/59/83/db5983e2ea062159c6b7ab9ff58011f3.jpg);
    background-repeat: no-repeat;
    /* To cover 100% of the screen and fixed */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: column; /* Align items horizontally */
    justify-content: space-between; /* Space between items */
    align-items: center; /* Vertically center items */
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #7c1f37;
    padding: 10px;
    padding: 0px;
    text-align: center;
}


.container h1 {
    font-size: 50px;

}
.container p {
    font-size: 30px;

}


.image {
    border-radius: 10px;
    height: 280px;
    border: 4px solid #d86522;
}


.op {
    border-radius: 30px;
    font: 200px;
    color: #ff4d79;
    background-color: #0000;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.image2 {
    height: 280px;
    border-radius: 10px;
    margin-left: 10px;
    border: 4px solid #d86522;
}

.buttons button {
    background-color: #7c1f37;
    color:#fad1d1 ;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    font-size: 26px;
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.buttons button:nth-child(1) {
    margin-left: -300px;
}

.buttons button:nth-child(2){
    margin-right: -300px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #7c1f37;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.move {
    animation: moveNoMessage 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

@keyframes moveNoMessage {
    0% { transform: translate(0, 0); }
    20% { transform: translate(15px, 15px); }
    40% { transform: translate(-10px, -10px); }
    60% { transform: translate(5px, 5px); }
    80% { transform: translate(-3px, -3px); }
    100% { transform: translate(0, 0); }
}

.responsive-video {
    border-radius: 15px;
    margin: 20px;
}

.message-text {
    margin: 50px 200px;
    font-size: 20px;
}